version: '3'

services:
  app: 
    build: 
      context: ./
    #PUERTOS EN DÓNDE SE EJECUTARÁ
    ports:
      - "4000:4000"
   
   #si se realiza un cambio se vera reflejado
    volumes: 
      - .:/app
    environment:
    #guardar y ejecutar los ambios sin necesidad de reiniciar contenedor
       FLASK_DEBUG: development
  redis:
  #instalar una imagen de redis
    image: "redis:alpine"