<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
   <form action="">
        <div><label>Formulario</label></div>
        <input placeholder="Ingrese Nombre" type="text">
        <input placeholder="Ingrese Correo" type="email">
        <input placeholder="Ingrese Teléfono (+56)" type="number">
        <button>Enviar</button>
   </form>
</body>
</html>